/* Bordered form */
body{
  background: linear-gradient(#FEAC5E,#C779D0,#4BC0C8);
  background-repeat: no-repeat;
  height: 100vh;
}
form {
    border: 3px solid #f1f1f1;
  }

  /* Login Heading */
  #login{
    text-align: center;
    padding-left: 18px;
  }
  
  /* Full-width inputs */
  input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #374d14;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;  
    border: none;
    cursor: pointer;
    width: 30%;
    border-radius: 5px;
  }
  
  
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }


  #username{
    border: 1px solid black;
    border-radius: 5px;
  }
  #password{
    border: 1px solid black;
    border-radius: 5px;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
 
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
